html {
  scroll-behavior: smooth;
}
.parallax {
  background-image: url("./images/bg.jpg");
  /* opacity: 0.8; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*--------------Navbar-----------*/
.nav-text {
  font-family: "mate sc";
  color: black;
  font-size: large;
  font-weight: 400;
}
.nav-text:hover {
  text-decoration: underline;
  transition: ease;
}
.nav-button {
  border-radius: 50%;
}
/*----------Home----------*/
.home-col {
  min-width: 200px;
  max-width: 500px;
}
.home-l-col {
  background-color: rgba(241, 241, 241);
}
.home-r-col {
  background-color: rgba(241, 241, 241);
  color: black;
}
.home-title {
  font-family: "mate sc";
  font-size: 30px;
  font-weight: 400;
}
.home-text {
  font-family: "Open Sans";
}
.home-links {
  max-width: 1000px;
  background-color: #122959;
  /* min-height: 50px; */
  color: white;
}
.social-net {
  color: white;
}
.social-net:hover {
  color: #93cef1;
  cursor: pointer;
}

/*---------Education----------*/

.education {
  background-color: white;
}
.edu-section-title {
  text-align: center;
  font-family: "mate sc";
  font-weight: 500;
  color: #122959;
}
.edu-time {
  font-family: "mate sc";
  font-weight: 300;
  color: black;
}
.edu-text {
  font-family: "Open sans";
  color: black;
}
/*the vertical ruler*/
.timeline {
  position: relative;
  max-width: 800px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #122959;
  top: 0;
  bottom: 0;
  left: 50%;
}
/* Container around content */
.content-container {
  position: relative;
  width: 50%;
}
/* The circles on the timeline */
.content-container::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #2158af;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  justify-content: center;
}
/* Place the container to the left*/
.left {
  left: -25%;
}
/* Place the container to the right */
.right {
  left: 25%;
}
/* Fix the circle for containers*/
.left::after {
  right: -4px;
}
.right::after {
  left: -3px;
}
/* The actual content */
.content {
  position: relative;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 18px;
  }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 25px;
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
  .left {
    left: 0%;
  }
}

/* Skill */
.parallax2 {
  background-image: url("./images/skillPic.png");
  /* opacity: 0.8; */
  /* background-color: black; */
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skill-section-title {
  text-align: center;
  font-family: "mate sc";
  font-weight: 500;
  color: white;
  background-color: #122959;
}

.skill-name {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-align: center;
  font-family: "open sans";
  color: white;
  font-size: large;
}

/* Projects */
.center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.box {
  width: 250px;
  height: 250px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  background-color: rgba(241, 241, 241);
}
.box img {
  width: 260px;
  height: 260px;
  border-radius: 30px;
}
.arr_container,
.cancel {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #122959;
  bottom: 0;
  right: 0;
  border-radius: 23px 0 23px 0;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.4s;
  align-content: center;
}
.arr_container i {
  transform: rotate(-45deg);
  padding-top: 10px;
}
.left_container {
  position: absolute;
  background: #122959;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  /* padding: 40px 0 0 20px; */
  transition: all 0.4s;
  color: white;
}
.project-title {
  display: inline-block;
  border: 1px solid white;
  font-size: 0.8rem;
  font-family: "mate sc";
  background-color: #122959;
  color: white;
}
.cancelBtn {
  display: inline-block;
  color: #122959;
  padding: 6px 10px;
  background-color: white;
}
.left_container p {
  font-family: "open sans";
  font-size: 0.9rem;
}
.active_arr {
  transform: translate(80%, 80%);
}
.off {
  transform: translate(-80%, -80%) rotate(90deg);
}
.active {
  transform: translate(0) rotate(0);
}
/* footer */
.footer-style {
  background-color: #122959;
  color: white;
}
.footer-line {
  background-color: white;
  height: 0.001rem;
}
.footer-name {
  font-family: "mate sc";
  font-size: larger;
}
.footer-text {
  font-family: "open sans";
  font-size: medium;
}
